$hamburger-menu-padding: 9px!default;
$hamburger-menu-width: 30px!default;
$hamburger-menu-bar: 3px!default;
$hamburger-menu-color: #fff;

.hamburger {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: $hamburger-menu-padding;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;

  &.is-active {
    .hamburger__inner {
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(.215,.61,.355,1);
      transform: rotate(45deg);
      &::before {
        top: 0;
        transition: top 75ms ease,opacity 75ms ease .12s;
        opacity: 0;
      }
      &::after {
        bottom: 0;
        transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
        transform: rotate(-90deg);
      }
    }
  }
}

.hamburger__box {
  position: relative;
    display: inline-block;
    width: $hamburger-menu-width;
    height: $hamburger-menu-width/2 + $hamburger-menu-bar;
}

.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-duration: 75ms;

  &::after,
  &::before {
    display: block;
    content: '';
  }

  &::before {
    top: - $hamburger-menu-width/4;
    transition: top 75ms ease .12s,opacity 75ms ease;
  }

  &::after {
    bottom: - $hamburger-menu-width/4;
    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
  }

  &,
  &::after,
  &::before {
    position: absolute;
    width: $hamburger-menu-width;
    height: $hamburger-menu-bar;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: $hamburger-menu-bar;
    background-color: $hamburger-menu-color;
  }
}
